
<section class="showcase">
  <div class="container">
    <h1 class="title">14 godina s vama! <span> Kod nas ćete naći vrhunsku kvalitetu!</span></h1>
    <a [routerLink]="['/ponuda']" routerLinkActive="router-link-active"   class="button button_accent">Zatraži ponudu</a>
  </div>
</section>

<div class="about ">
  <div class="about-textbox">
    <h1>O nama</h1>
    <p><strong>TERMOPLAST </strong>je tvrtka specijalizirana za prodaju i ugradnju PVC stolarije, a
      prisutna je na tržištu
      od
      2005 godine. Prodajemo i ugrađujemo kompletne PVC sisteme: od prozora, ulaznih i balkonskih vrata,
      do
      grilja, zimskih vrtova te zatvaranja balkona i lođa.
      Osim navedenog, vršimo i završne obrade špaleta te ugradnju klupčica, venecijanera i komarnika.</p>
    <p><strong>Proizvodnja naših prozora i vrata odvija se u strogo kontroliranim uvjetima na oko 2000 m2
        proizvodnog prostora</strong> s kompjuterski kontroliranom linijom i četverokutnom varilicom,
      prema
      ISO certifikatima o kvaliteti 9001 i zaštiti okoliša 14000, vodeći računa da je kvaliteta uvijek na
      visokom nivou.
      Osnovni materijal u proizvodnji PVC stolarije su vrhunskii PVC profili njemačkog proizvođača
      SALAMANDER
      s pet i šest komora te elegantnim, zaobljenim rubovima, od 76 - 92 mm ugradbene dubine.</p>
  </div>
</div>
<!-- <div class="mapst">
  <agm-map [latitude]="latitude" [longitude]="longitude" mapTypeId=terrain mapTypeControl="true" [zoom]="14"
    [rotateControl]="true" [scrollwheel]="false">
    <agm-marker [latitude]="latitude" [longitude]="longitude">
      <agm-info-window>TERMOPLAST Osijek </agm-info-window>
    </agm-marker>
  </agm-map>
</div> -->
