<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand text-center " [routerLink]="['home']"><span>TERMOPLAST</span><br>PVC Prozori i Vrata</a>
  <button class="navbar-toggler mr-3 bg-primary" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarToggler">
    <ul class="navbar-nav ml-3 mr-auto mt-1 mt-lg-0 ">
      <ul class=" nav  justify-content-center">
        <li class="nav-item mb-3" routerLinkActive="active">
          <a class="nav-link button  " [routerLink]="['home']">Početna</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link button pl-4" [routerLink]="['/proizvodi']">Proizvodi</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link button pl-4" [routerLink]="['/kontakt']">Kontakt</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link button pl-4" [routerLink]="['/blog']">Blog</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item">
          <div class="btn-group nav-link ">
            <button class="btn  ml-3  btn-secondary" type="button" (click)="logout()">Odjava{{adminName}}</button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <div class="d-flex justify-content-center p-1">
                <button class="btn btn-outline-primary text-white"  [routerLink]="['/admin']">Kontrolna ploca</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ul>
  </div>
</nav>
