<div class="jumbotron border border-primary bg-color py-4">
  <h1 class="display-4">Admin</h1>


  <button type="button" class="btn border-primary btn-secondary text-info px-4 rounded-pill btn-lg m-1 " data-toggle="collapse"
    title="Popis Administratora" href="#popisAdmina" role="button" aria-expanded="false" aria-controls="popisAdmina"><i
      class="fa fa-list"></i></button>

  <button type="button" class="btn border-primary btn-secondary text-success btn-lg px-4 rounded-pill m-1" data-toggle="modal"
    title="Novi Administrator" data-target="#registracijaAdministaratora"><i class="fa fa-plus-square"></i></button>


  <hr class="bg-primary my-4">
  <div class="row">
    <div class="col-12">
      <div class="collapse admin-multi-collapse" id="popisAdmina">
        <div class="card border bg-color card-body">
          <table class=" table table-hover table-responsive-sm p-0 m-0">
            <thead class="h5">
              <tr>
                <th scope="col">Pregledaj</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Username</th>
              </tr>
            </thead>
            <tbody *ngFor="let admin of admins" class="h5">
              <tr>
                <td>
                  <button type="button" class="btn border-primary btn-secondary text-white  rounded-pill" [routerLink]="['/a/admin/', admin.id]">
                    <i class="fa fa-eye"></i></button>
                </td>
                <td>{{admin.id}}</td>
                <td>{{admin.name}}</td>
                <td>{{admin.lastname}}</td>
                <td>{{admin.username}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registracijaAdministaratora" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalCenterTitle">Registriraj novog administratora</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container bg-secondary p-2">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
              <label for="name" class="text-white">Ime</label>
              <input type="text" [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}"
                class="form-control" placeholder="Unesite ime" formControlName="name">
              <div class="invalid-feedback">Uneste ime</div>

            </div>
            <div class="form-group">
              <label for="lastname" class="text-white">Prezime</label>
              <input type="text" [ngClass]="{'is-invalid': registerForm.get('lastname').errors && registerForm.get('lastname').touched}"
                class="form-control" placeholder="Unesite Prezime" formControlName="lastname">
              <div class="invalid-feedback">Uneste prezime</div>
            </div>
            <div class="form-group">
              <label for="username" class="text-white">Korisničko ime</label>
              <input type="text" [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
                class="form-control" placeholder="Unesite Korisničko ime" formControlName="username">
              <div class="invalid-feedback">Unesite korisničko ime</div>
            </div>
            <div class="form-group">
              <label for="password" class="text-white">Zaporka</label>
              <input type="password" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
                class="form-control" placeholder="Unesite Zaporku" formControlName="password">
              <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Unesite
                zaporku</div>
              <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Zaporka
                mora imati naj manje 4 znaka</div>
              <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Zaporka
                može imati naj više 8 znakova</div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="text-white">Zaporka</label>
              <input type="password" 
              [ngClass]="{
                'is-invalid': registerForm.get('confirmPassword').errors
                 && registerForm.get('confirmPassword').touched 
                 || registerForm.get('confirmPassword').touched 
                 && registerForm.hasError('mismatch')}" class="form-control" placeholder="Potvrdite Zaporku" formControlName="confirmPassword">
                <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Unesite zaporku</div>
                <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Zaporke se moraju podudarati</div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!registerForm.valid"  (click)="register()" data-dismiss="modal" onclick="window.location.reload()">Registriraj</button>

      </div>
    </div>
  </div>
</div>