
  <div class="jumbotron jumbotron-fluid bg-color-1 border  border-primary">
    <div class="container">
      <h1 class="display-4">Osnovni Podaci</h1>
      <hr class="bg-primary my-4">

      <form [formGroup]="addForm" (ngSubmit)="addUser()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Ime</label>
            <input type="text" [ngClass]="{'is-invalid': addForm.get('name').errors && addForm.get('name').touched}"
              class="form-control" placeholder="Ime" formControlName="name">
            <div class="invalid-feedback" *ngIf="addForm.get('name').hasError('required') && addForm.get('name').touched">Ovo polje je obvezno</div>
            <div class="invalid-feedback" *ngIf="addForm.get('name').hasError('maxlength') && addForm.get('name').touched">Ime
              može imati naj više 40 znakova</div>
          </div>

          <div class="form-group col-md-6">
            <label for="address">Adresa</label>
            <input type="text" [ngClass]="{'is-invalid': addForm.get('address').errors && addForm.get('address').touched}"
              class="form-control" placeholder="1234 Main St" formControlName="address">
              <div class="invalid-feedback" *ngIf="addForm.get('address').hasError('required') && addForm.get('address').touched">Ovo polje je obvezno</div>
              <div class="invalid-feedback" *ngIf="addForm.get('address').hasError('maxlength') && addForm.get('address').touched">Adresa
                može imati naj više 70 znakova</div>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="text" [ngClass]="{'is-invalid': addForm.get('email').errors && addForm.get('email').touched}"
              class="form-control" placeholder="Email" formControlName="email">
            <div class="invalid-feedback" *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched">Ovo polje je obvezno</div>
            <div class="invalid-feedback" *ngIf="addForm.get('email').hasError('email') && addForm.get('email').touched">Unesite odgovarajući email!</div>
          </div>

          <div class="form-group col-md-6">
            <label for="phone">Tel:</label>
            <input type="text" [ngClass]="{'is-invalid': addForm.get('phone').errors && addForm.get('phone').touched}"
              class="form-control" placeholder="098/ 9213323" formControlName="phone">
              <div class="invalid-feedback" *ngIf="addForm.get('phone').hasError('required') && addForm.get('phone').touched">Ovo polje je obvezno</div>
              <div class="invalid-feedback" *ngIf="addForm.get('phone').hasError('maxlength') && addForm.get('phone').touched">Telefon
                može imati naj više 13 znakova</div>
          </div>

        </div>
        <button type="button" class="btn btn-lg btn-primary  float-right mb-5" [disabled]="!addForm.valid" (click)="addUser()">Nastavi</button>
      </form>

    </div>
  </div>




