
  <div class="jumbotron jumbotron-fluid bg-color-1 border  border-primary">
    <div class="container">
      <h1 class="display-4">Pošaljite Upit</h1>
      <hr class="bg-primary my-4">

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Ime i Prezime</label>
            <input type="text" 
              class="form-control" placeholder="Ime" >
           
          </div>

          <div class="form-group col-md-6">
            <label >Adresa</label>
            <input type="text" 
              class="form-control" placeholder="1234 Main St" >
             
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" 
              class="form-control" placeholder="Email">
            
          </div>

          <div class="form-group col-md-6">
            <label >Tel:</label>
            <input type="text" class="form-control" placeholder="098/ 9213323">
              
          </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="note">Poruka</label>
              <textarea class="form-control"  rows="3"></textarea>
            </div>
              
            <div class="form-group col-md-6">
              <div class="container my-5">
                <button type="button"  class="btn btn-lg btn-primary float-right">Pošalji</button>
              </div>
            </div>
        </div>
      </form>

    </div>
  </div>