<ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
      aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-admin-tab" data-toggle="pill" href="#pills-admin" role="tab" aria-controls="pills-admin"
      aria-selected="false">Admin</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">.</div>
  <div class="tab-pane fade" id="pills-admin" role="tabpanel" aria-labelledby="pills-admin-tab">...
    <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#registracijaAdministaratora">Registracija
      administaratora</a>
    <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#">Brisanje
      administaratora</a>
    <a class="btn btn-default nav-admin-text p-2" data-toggle="modal" data-target="#">Uređivanje
      administratora</a>
  </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registracijaAdministaratora" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalCenterTitle">Registriraj novog administratora</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container bg-secondary p-2">
          <form #registerForm="ngForm" (ngSubmit)="register()">
            <div class="form-group">
              <label class="text-white">Unesite korisničko ime</label>
              <input type="text" class="form-control" placeholder="Korisničko ime" required name="username" [(ngModel)]="model.username">
            </div>
            <div class="form-group">
              <label class="text-white">Unesite zaporku</label>
              <input type="password" class="form-control" placeholder="Zaporka" name="password" [(ngModel)]="model.password">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="register()" data-dismiss="modal">Registriraj</button>
      </div>
    </div>
  </div>
</div>
