<div class="row border-bottom border-primary py-3">
  <div class="col-2 ">
    <div class="nav flex-column  nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">Blog</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
        aria-selected="false">Proizvodi</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false">Admin</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content nav justify-content-center" id="v-pills-tabContent">
      <!-- BLOG -->
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#">Novi Blog</a>
        <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#">Brisanje
          Blog</a>
        <a class="btn btn-default nav-admin-text p-2" data-toggle="modal" data-target="#">Uređivanje
          Blog</a>
      </div>
      <!-- PROIZVODI -->
      <div class="tab-pane fade " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#">Registracija
          proizvoda</a>
        <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#">Brisanje
          proizvoda</a>
        <a class="btn btn-default nav-admin-text p-2" data-toggle="modal" data-target="#">Uređivanje
          proizvoda</a>
      </div>
      <!-- ADMIN -->
      <div class="tab-pane fade " id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#registracijaAdministaratora">Registracija
          administaratora</a>
        <a class="btn btn-default nav-admin-text p-2 " data-toggle="modal" data-target="#">Brisanje
          administaratora</a>
        <a class="btn btn-default nav-admin-text p-2" data-toggle="modal" data-target="#">Uređivanje
          administratora</a>
      </div>
    </div>
  </div>
</div>


<!-- Register Modal -->
<div class="modal fade" id="registracijaAdministaratora" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalCenterTitle">Registriraj novog administratora</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container bg-secondary p-2">
          <form #registerForm="ngForm" (ngSubmit)="register()">
            <div class="form-group">
              <label class="text-white">Unesite korisničko ime</label>
              <input type="text" class="form-control" placeholder="Korisničko ime" required name="username" [(ngModel)]="model.username">
            </div>
            <div class="form-group">
              <label class="text-white">Unesite zaporku</label>
              <input type="password" class="form-control" placeholder="Zaporka" name="password" [(ngModel)]="model.password">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="register()" data-dismiss="modal">Registriraj</button>
      </div>
    </div>
  </div>
</div>
